
body{
    background-color: rgb(215, 173, 255);
    color: blueviolet;
}


input[type="submit"]{
    display: block;
    margin-top: 10px;
    color: white;
    border: 2px solid white;
    background-color: rgb(197, 149, 241);
    box-shadow: 2px 2px 2px black;
}

table thead tr{
    background: rgb(172, 104, 172);
    color: purple;
    font-family: Georgia;;
}

table thead tr th{
    padding: 10px;
}

table tbody tr{
    text-align: center;
    font-family: Georgia;
}
table tbody tr:nth-child(2n+1){
    background: plum;
}
table tbody tr:nth-child(2n){
    background: rgb(185, 146, 185);
}
button{
    display: inline-block;
    margin-right: auto;
    margin-left: 501px;
    margin-bottom: 10px;
}